*{/*Estilos generales*/
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;/*Para que las cajas no se desborden una con otras*/
/*Letras 
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.contenedorPadre{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    }.contenedorHeader{
        margin: 0;
        padding: 0;
        background-image: url(../img/Fondo/fondoHeader.jpg);
        background-size:auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 98%;
        align-items: center;

        }.contenedorMenu{
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            width: 98%;
            
            }.contenedorLogo{
                flex: 1 1 auto;
                text-align: center;
                   
            }.contenedorNav{
            flex: 6 1 auto;
            text-align: center;

                }.contenedorNav a{
                    width: auto;
                    text-decoration: none;
                    background-color: rgba(128, 128, 128, 0.735);
                    color: white; 
                    font-family: 'Lora', serif;
                    font-weight: 300;
                    line-height: 1.8;                   
                    
                }
                .contenedorNav a i{
                    margin: 0;

            }.contenedorRedes{
                flex: 1 1 auto;
                text-align: center;
                }.contenedorRedes a{
                    margin: 0;
                    padding: 0;

        
        }.contenedorTitulo{
                    margin:-20px;
                    width: 50%;
                    align-content: center;                    
                    font-family: 'Lora', serif;

            }.contenedorTitulo h1{
                color:#fff;
                font-weight: 300;
                line-height: 1.6;
                border-bottom: #fff solid;
                border-width: 5px;
                text-align: center;

            }.contenedorTitulo h2{
        
                color:#fff;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
            }
            .animacion{
                animation: flash; 
                animation-duration: 1s;
            }



    .contenedorCentro{
        margin: 0;
        padding: 0;
        width: 98%;
        background-image: url(../img/Fondo/fondoCentro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        }.contenedorPublicidad{
            margin: 1%;
            background:rgba(241, 213, 160, 0.473);
            text-align: center;
            width: 18%;
            
        
            }.contenedorPublicidad1{
                display: flex;
                align-content: center;

                }.contenedorPublicidad1 #imag{
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    

                }.contenedorPublicidad1 #imag2{
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                
        }.contenedorCuerpo{
                margin: 1%;
                background: rgba(241, 213, 160, 0.473);
                font-family: 'Lora', serif;
                width: 78%;
                flex-direction: row;
                flex-wrap: wrap;
                     
                
            }.Articulo{
                width: 98.5%;

            }.Articulo a{
                text-decoration: none;
                margin: 0%;
                padding: 0%;

            }.contenedorImgPor1{
                background:url(../img/portada1.png);
                background-repeat:no-repeat;
                background-size: cover;
                height: 315px;
                display: flex;
                align-items: center;

            }

            .contenedorImgPor2{
                background:url(../img/portada2.png);
                background-repeat:no-repeat;
                background-size: cover;
                height: 315px;
                display: flex;
                align-items: center;

            }

            .contenedorImgPor3{
                background:url(../img/portada3.png);
                background-repeat:no-repeat;
                background-size: cover;
                height: 315px;
                display: flex;
                align-items: center;

            }

                
                
            .Articulo #tituloPortada{
                    font-size: 35px;
                    letter-spacing: 1px;
                    background-color: rgba(240, 248, 255, 0.479);
                    text-decoration: underline;
                    width: 48%;
                    color: black;
                    text-align: center; 
                    height: 120px;    
            }        

            .contenedorContacto{
                width: auto;
                max-width: 1328px;
                margin: 0;
                padding: 0;
                
                display: grid;
                grid-template-columns: repeat(2 , auto);
                grid-template-rows: repeat(2, auto);
               
                grid-template-areas: "formulario direcciones"
                                     "formulario mapa";
                
         
        
            }

            .contenedorFormulario{
                width: auto;
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
                color: black;
                /*grid-column-start: 1;
                grid-row: span 2;*/
                grid-area: formulario;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                

            }

            .contenedorFormulario .tiendaForm2{
                display: none;
            }

            .contenedorFormulario .botones{
                text-align: center;
            }

            .tabla .input_error{
                font-size: 12px;

                display: none;

            }
            .tabla .input_borde:focus{
                border: 3px solid rgb(52, 165, 240);
                outline: none;
                box-shadow: 3px 0px 30px ;
            }

            .contenedorDirecciones{
                width: auto;
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
                color: black;
                /*grid-column-start: 2;
                grid-row-start: 1;*/
                grid-area: direcciones;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            
                
                
                
                
            } .contenedorDirecciones a{
                margin: 0;
                padding: 0;
                text-decoration: none;
                color: black;
                
                
            }

            .contenedorMapa{
                width: auto;
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
                color: black;
                /*grid-column-start: 2;
                grid-row-start: 2;*/
                grid-area: mapa;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
              

            }

            .contenedorNosotros{
                width: 100%;
                max-width: 1328px;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(1 , auto);
                grid-template-rows: repeat(2, auto);
                grid-template-areas: "historia"
                                     "proveedores";

            }


            .contenedorHistoria{

                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
                grid-area: historia;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            


            .contenedorProveedores{
                width: auto;
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
                grid-area: proveedores;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                
            }


            .contenedorProveedores .gridLogos{
                width: auto;
                max-width: 1328px;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(4 , auto);
                grid-template-rows: repeat(2, auto);
                grid-template-areas: "marca01 marca02 marca03 marca04"
                                     "marca05 marca06 marca07 marca08";

            }


  

            .contenedorProveedores .tituloMarcas{
                align-items: center;
                flex-direction: column;
            }

            .contenedorProveedores .marca01{
                grid-area: marca01;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
            }

            .contenedorProveedores .marca02{
                grid-area: marca02;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                  
            }
            
            .contenedorProveedores .marca03{
                grid-area: marca03;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
            }
            
            .contenedorProveedores .marca04{
                grid-area: marca04;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
            }
            
            .contenedorProveedores .marca05{
                grid-area: marca05;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
            }
            
            .contenedorProveedores .marca06{
                grid-area: marca06;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
            }
            
            .contenedorProveedores .marca07{
                grid-area: marca07;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
            }
            
            .contenedorProveedores .marca08{
                grid-area: marca08;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
            } 
            
            .menuProductos{
                background: rgba(241, 213, 160, 0.473);
                margin: 1%;
                font-family: 'Lora', serif;
                width: 18%;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .menuProductos .tituloMenu{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-decoration: underline;
            }

            .menuProductos .gridMenuProducto{
                width: 95%;
                display: grid;
                grid-template-columns: repeat(1 , auto);
                grid-template-rows: repeat(3, auto);
                grid-template-areas: "Accesorio"
                                     "Accesorio"
                                     "Accesorio"
                                     "Accesorio";
                
            }

            .menuProductos .gridMenuProducto .Producto{
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
                display: grid;
                grid-template-columns: repeat(1 , auto);
                grid-template-rows: repeat(4, auto);  
                grid-template-areas: "img"
                                     "des";
                
            }
            .menuProductos .gridMenuProducto .Producto a{
                margin: 0;
                padding: 0;
                text-decoration: none;
                color: black;
                
            }

            .menuProductos .gridMenuProducto .Producto .img{
                grid-area: img;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            
            .menuProductos .gridMenuProducto .Producto img{
                width: 130px;
                height: 80px;             
            }    

            .menuProductos .gridMenuProducto .Producto .des{
                margin: -10%;
                grid-area: des;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .gridProductos{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3 , auto);
                grid-template-rows: repeat(6, auto);
                grid-template-areas: "titulo titulo titulo"
                                     "Producto Producto Producto"
                                     "Producto Producto Producto"
                                     "Producto Producto Producto"
                                     "Producto Producto Producto"
                                     "nav nav nav";
            }
            

            #container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3 , auto);
                grid-template-rows: repeat(6, auto);
                grid-template-areas: "titulo titulo titulo"
                                     "Producto Producto Producto"
                                     "Producto Producto Producto"
                                     "Producto Producto Producto"
                                     "Producto Producto Producto"
                                     "nav nav nav";
            }

            .gridProductos .tituloGrid{
                grid-area: titulo;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
            

            }

            .gridProductos .Producto{
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
                display: grid;
                grid-template-columns: repeat(1 , auto);
                grid-template-rows: repeat(4, auto);  
                grid-template-areas: "img"
                                     "des"
                                     "inf"
                                     "pre";

            }

            .gridProductos .Producto .img{
                grid-area: img;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            .gridProductos .Producto .img img{
                width: 250px;
                height: 180px;                
            }

            .gridProductos .Producto .des{
                margin-top: -10%;
                grid-area: des;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;  
                font-family: 'Montserrat', sans-serif;
            }

            .gridProductos .Producto .precio{
                margin-top: -10%;
                grid-area: pre;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;          
                font-size: larger;
                font-family: 'Montserrat', sans-serif;
            }

            .gridProductos .Producto .info{
                margin-top: -15%;
                grid-area: inf;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
           
            }

            .contenedorNavegacion{
                grid-area: nav;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 50px;
        }



    .contenedorFooter{
        margin: 0;
        margin-top: 10px;
        padding: 0;
        border-top: black solid;  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 98%;

        }.contenedorDerechos{
            
            flex: 4 1 auto;
            
        }.contenedorDatos{
            
            flex: 1 1 auto;
        }

        @media all and (max-width: 1670px)  {
    
            .contenedorMenu{
                flex-direction: column;
                height: auto;
            }
            
            .contenedorCentro{
                flex-direction: column;
            }
            .contenedorCuerpo{
                width: 98%;
                display: flex;
                justify-content: center;
            }
            .contenedorPublicidad{
                width: 98%;
                display: flex;
                justify-content: center;
        
            }


            .contenedorPublicidad1 #imag{
                display: none;
                
            }


            .contenedorPublicidad1 #imag2{
                display: inline;
                
            }


            .gridProductos{
                display: flex;
                justify-content: center;
                display: grid;
                grid-template-columns: repeat(2 , auto);
                grid-template-rows: repeat(8, auto);
                grid-template-areas: "titulo titulo"
                                     "Producto Producto"
                                     "Producto Producto"
                                     "Producto Producto"
                                     "Producto Producto"
                                     "Producto Producto"
                                     "Producto Producto"
                                     "nav nav";
            }

            .contenedorContacto{

                grid-template-areas: "formulario" 
                                     "direcciones"
                                     "mapa";
            }


            .menuProductos{
                width: 98%;
                display: flex;
                justify-content: center;
            }

            .menuProductos .gridMenuProducto{
                
                grid-template-areas: "Accesorio Accesorio Accesorio";
            }

            .menuProductos .gridMenuProducto .Producto .des{
                font-size: 15px;
            }

            .contenedorProveedores .gridLogos{
                grid-template-areas: "marca01 marca02" 
                                     "marca03 marca04"
                                     "marca05 marca06" 
                                     "marca07 marca08";
                                     
            }

        


        }
        
        @media all and (max-width: 1335px){
            .contenedorFooter{
                flex-direction: column;
                text-align: center; 
            }

                
            }
        
        

 
        
        @media all and (max-width: 915px){


            .contenedorLogo {
                width: 95%;
                height: auto;
                display: flex;
                justify-content: center;
            }

            .contenedorLogo img{
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
            }
            .contenedorNav a{
                display: block;
            }


            .contenedorDirecciones a{
                margin-bottom: -40px;
            }

            .Articulo #tituloPortada{
                margin-left: 13%;   
                width: 75%; 
                font-size: 15px;
            }
            
            .contenedorTitulo h1{
                margin: 0;
                padding: 0;
                font-size: 25px;

            }.contenedorTitulo h2{
                font-size: 15px;
            }





            .contenedorCuerpo{
                width: 98%;
                display: flex;
                justify-content: center;
            }
        
            .contenedorPublicidad{
                width: 98%;
                display: flex;
                justify-content: center;
        
            }
            

            .Articulo #tituloPortada1{
                width: 98%;
                height: 98%;
                font-size: 15px;}

            .Articulo #tituloPortada2{
                font-size: 15px;}

            .Articulo #tituloPortada3{
                font-size: 15px;}

                .menuProductos .gridMenuProducto{
                    grid-template-areas: "Accesorio Accesorio" 
                                         "Accesorio Accesorio";
                }
                .menuProductos .gridMenuProducto .Producto img{
                    width: 100px;
                    height: 65px;             
                }  

                .gridProductos .Producto .img img{
                    width: 185px;
                    height: 125px;   
                }

                .gridProductos .Producto .des{
                    font-size: 15px;
                }
                .gridProductos .Producto .precio{
                    font-size: 15px;
                }

                .contenedorFormulario .tiendaForm{
                    display: none;
                }
                .contenedorFormulario .tiendaForm2{
                    display: inline;
                    margin: 0px;
                    padding: 0px;
                }
                .contenedorFormulario .tiendaForm2 table{

                    margin: 0px;
                    padding: 0px;
                }
                .contenedorFormulario .tiendaForm2 table .col1{

                    margin: 0px;
                    padding: 0px;
                }

                .contenedorMapa iframe{
                    width: 200px;
                    height: 150px;
                }

                .gridProductos{
                    display: grid;
                    grid-template-columns: repeat(1 , auto);
                    grid-template-rows: repeat(14, auto);
                    grid-template-areas: "titulo"
                                         "Producto" 
                                         "Producto"
                                         "Producto" 
                                         "Producto"
                                         "Producto" 
                                         "Producto"
                                         "Producto" 
                                         "Producto"
                                         "Producto" 
                                         "Producto"
                                         "Producto" 
                                         "Producto"
                                         "nav";
                }


                #container {
                    display: grid;
                    grid-template-columns: repeat(1 , auto);
                    grid-template-rows: repeat(14, auto);
                    grid-template-areas: "titulo"
                                            "Producto" 
                                            "Producto"
                                            "Producto" 
                                            "Producto"
                                            "Producto" 
                                            "Producto"
                                            "Producto" 
                                            "Producto"
                                            "Producto" 
                                            "Producto"
                                            "Producto" 
                                            "Producto"
                                            "nav";
                }


                .contenedorProveedores .gridLogos{
                    grid-template-areas: "marca01" 
                                         "marca02" 
                                         "marca03" 
                                         "marca04"
                                         "marca05" 
                                         "marca06" 
                                         "marca07" 
                                         "marca08";
                                         
                }
                .contenedorProveedores .gridLogos img{
                    width: 150px;
                    height: 75px;
                }
        
        }
        
        
        @media all and (max-width: 610px){
    

            .menuProductos .gridMenuProducto{
                grid-template-areas: "Accesorio" 
                                     "Accesorio" 
                                     "Accesorio";
            }

        
        }